:root {
  --font-primary: 'Work Sans', Arial, sans-serif;
  --font-secondary: 'Moulpali', 'Sacramento', Arial, serif;
  --gold-color: #C78A2C;
}


html {
    scroll-behavior: smooth !important;
    width: 100vw !important;
}

body {
    font-family: var(--font-primary) !important;
    padding: 0 !important;
    width: 100% !important;
    overflow-x: hidden !important;
}

i {
    width: auto !important;
}

body,
div,
nav,
svg,
section {
    will-change: background-color;
    transition: background-color 350ms ease;
}

svg>path {
    will-change: color;
    transition: color 350ms ease;
}

html[data-bs-theme="dark"] .navbar {
    background-color: rgba(var(--bs-dark-rgb), 0.75) !important;
    backdrop-filter: blur(0.5rem);
}

html[data-bs-theme="light"] .navbar {
    background-color: rgba(var(--bs-light-rgb), 0.75) !important;
    backdrop-filter: blur(0.5rem);
}

html[data-bs-theme="dark"] .text-theme-auto {
    color: rgb(var(--bs-light-rgb));
}

html[data-bs-theme="light"] .text-theme-auto {
    color: rgb(var(--bs-dark-rgb));
}

html[data-bs-theme="dark"] .nav-link {
    color: rgba(var(--bs-white-rgb), 0.5);
}

html[data-bs-theme="light"] .nav-link {
    color: rgba(var(--bs-black-rgb), 0.5);
}

html[data-bs-theme="dark"] .bg-theme-auto {
    background-color: var(--bs-gray-800);
}

html[data-bs-theme="light"] .bg-theme-auto {
    background-color: var(--bs-gray-100);
}

html[data-bs-theme="dark"] .btn-outline-auto {
    --bs-btn-color: var(--bs-light);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-border-color: var(--bs-light);
    --bs-btn-focus-shadow-rgb: var(--bs-light-rgb);
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-light);
    --bs-btn-active-border-color: var(--bs-light);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-light);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-light);
    --bs-gradient: none;
}

html[data-bs-theme="light"] .btn-outline-auto {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-dark);
    --bs-btn-focus-shadow-rgb: var(--bs-dark-rgb);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-dark);
    --bs-btn-active-border-color: var(--bs-dark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-dark);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-dark);
    --bs-gradient: none;
}

html[data-bs-theme="dark"] .bg-overlay-auto {
    background-color: rgba(var(--bs-black-rgb), 0.5);
    backdrop-filter: blur(0.25rem);
}

html[data-bs-theme="light"] .bg-overlay-auto {
    background-color: rgba(var(--bs-white-rgb), 0.5);
    backdrop-filter: blur(0.25rem);
}

.hover-area {
    display: none;
    cursor: pointer;
}

.hover-wrapper:hover .hover-area {
    display: flex;
}

.gif-image {
    max-height: 10rem;
}

.font-secondary {
    font-family: var(--font-secondary) !important;
}

.gold-text-color {
    color: var(--gold-color);
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.waviy {
  position: relative;
  -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(255, 255, 255, 0.859));

  -webkit-text-stroke: 0.5px #fff;
}

.waviy span {
  font-family: 'Moulpali';
  position: relative;
  display: inline-block;
  color: #C78A2C;
  font-size: 28px;
  text-transform: uppercase;
  animation: waviy 2s infinite;
  animation-delay: calc(.1s * var(--i));
  
}

/* #fh5co-counter,
#fh5co-event {
	height: 850px;
	float: left;
	.display-t,
	.display-tc {
		height: 700px;
		display: table;
		width: 100%;
	}
	.fh5co-heading{
		h2{
			color: $brand-white;
		}
		span{
			color: rgba($brand-white,.5);
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 2px;
			font-weight: 600;
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .4);
	}
	@media screen and (max-width: $screen-sm) {
		height: inherit;
		padding: 7em 0;
		.display-t,
		.display-tc {
			height: inherit;
		}
	}

	.event-wrap{
		border: 2px solid rgba($brand-white,.5);
		background:rgba($brand-white,.1);
		padding: 30px;
		width: 100%;
		float: left;
		@include border-radius(4px);
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 10px;
		}
		h3{
			font-size: 20px;
			color: $brand-white;
			border-bottom: 1px solid rgba($brand-white,.5);
			display: block;
			padding-bottom: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		p,span{
			display: block;
			color: rgba($brand-white,.8);
		}
		i{
			color: rgba($brand-white,1);
			font-size: 20px;
		}
		.event-col{
			width: 50%;
			float: left;
			margin-bottom: 30px;
		}
	}

}


#fh5co-counter{
	height: 600px;
	@media screen and (max-width: $screen-sm) {
		height: auto;
	}
} */